body{
    /*!background-color: black;*/
    background: url(oip.jpg);
    background-repeat: no-repeat;
    font-family: 'Julee', cursive;
    background-attachment: fixed;  
    background-size: cover;  
}

header{
    background: black;
    padding: 10px 0;
}

.logo{
    display: flex;
    width: 100px;
    height: 92px;
    align-items: center;
    position: absolute;
    left: 30px;
}

h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 80px;
    color: red ;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 25px;
}

h2{
    padding: 10px 10px;
    margin: 5px 10px;
    font-size: 40px;
}

.area{
    font-family: 'Julee', cursive;
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: black;
    margin-top: 10px;
}

.area:focus{
    outline: none;
}

.mensaje{
    background-image: url(oip2.jpg);
    font-family: 'Julee', cursive;
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: black;
    margin-top: 70px;
    margin-left: 200px;
    padding-left: 40px;
    background-position: center;
    
}

.mensaje:focus{
    outline: none;
}



.btn-encriptar{
    background-color:rgb(116, 2, 2);
    border: 1px solid black;
    border-radius: 24px;
    color: black;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-desencriptar{
    background-color:black;
    border: 1px solid red;
    border-radius: 24px;
    color: rgb(116, 2, 2);
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.Copiar{
    border: 1px solid black;
    border-radius: 24px;
    color: black;
    cursor: pointer;
    height: 67px;
    margin-left: 220px;
    margin-top: 50px;
    position:absolute;
    width: 336px;
}

.informacion{
    margin: 10px 10px;
    color: red;
    font-size: 18px;
}

.copyright{
    color: dark;
    font-size: 30px;
    margin:20px;
    text-align: center;
}